.datepicker-div{
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
}

.datepicker-sub-div{
    display: inline-block;
}

.button-input {
    font-size: 1rem;
    background-color: #575756;
    color: #f86100;
    min-width: 220px;
    min-height: 35px;
}
