.card-icon-wrapper{
    display: inline-block;
}

.table-cell .card-icon{
    height: 2.5em;
    width: 2.5em;
}

.avatar-cards .card-icon{
    height: 5em;
    width: 5em;
}

.avatar-cards .card-icon-wrapper {
    margin-left: 45px;
    margin-right: -60px;
}

.spades{
    color: #263238;
}

.hearts{
    color: #f44336;
}

.diamonds {
    color: #1CA9C9;
}

.clubs {
    color: #43a047;
}