.card-icon{
  height: 2em;
  width: 2em;
}

.card-icon-wrapper{
    display: inline-block;
}

.spades{
    color: #263238;
}

.hearts{
    color: #f44336;
}

.diamonds {
    color: #1CA9C9;
}

.clubs {
    color: #43a047;
}