.graph-wrapper{
  
  display: flex;
  padding: 25px;
  
  max-width: 1050px;
  margin-bottom: 50px;
}

.graph-div {
    max-width: 1000px;
    min-width: 1000px;
  }

  .chartjs-render-monitor {
    color: black;
  }