.HandHistoryTable{
    color: white;
    font-size: 0.5em;
}

.card-icon{
  height: 2em;
  width: 2em;
}

.card-icon-wrapper{
    display: inline-block;
}

.spades{
    color: #FAEBD7;
}

.hearts{
    color: #FA8072;
}

.diamonds {
    color: #1CA9C9;
}

.clubs {
    color: #00A550;
}