.Navbar {
  /*background-color: lawngreen;*/
  background-color: #282c34;
  margin-top: 70px;
  padding: 5px;
  width: 70px;
}

.nav-container {
  justify-content: center;
  list-style: none;
  height: 100%;
}

.nav-menu-bars {
  display: flex;
}

.nav-item {
  justify-content: center;
  display: flex;
  margin: 30px 0;
}

.nav-item.bottom{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.nav-icon {
  width: 40px;
  height: 40px;
}