@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  background-color: #575756;
  min-height: 100vh;
  display: flex;
  color: black;
}

.profile,
.handhistory,
.villain {
  background-color: #575756;
  margin-top: 70px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 16px;
  list-style: none;
}